<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD_9dFSt-gv1qKO8iCnRC0RMFzUUyOXkV8</string>
	<key>GCM_SENDER_ID</key>
	<string>353683293917</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kartik.fincalc</string>
	<key>PROJECT_ID</key>
	<string>fin-calcu-e2u5pw</string>
	<key>STORAGE_BUCKET</key>
	<string>fin-calcu-e2u5pw.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:353683293917:ios:f77ecc2a98855b3b4c7d34</string>
</dict>
</plist>